[user]
	name = HimadriChakra12
    email = himadrichakrabortydip@gmail.com

[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  sw = switch
  cm = commit -m
  ca = commit --amend
  df = diff
  lg = log --oneline --graph --decorate --all
  lga = log --graph --abbrev-commit --decorate --all --date=relative --format=format:'%C(bold blue)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold white)<%an>%Creset'

  # Add all changes and commit
  ac = "!git add -A && git commit"

  # Add, commit, and push in one line
  acp = "!git add -A && git commit -m \"$1\" && git push" 

  # Undo last commit (keep changes)
  uncommit = reset --soft HEAD~1

  # See current config
  cfg = config --list

  # Clean untracked files (be careful!)
  clean-all = "!git clean -fd && git reset --hard"


[url "https://github.com/HimadriChakra12/"]
	insteadof = "hc12:"

[url "https://github.com/xsoder/"]
	insteadof = "xs:"

[url "https://github.com/"]
	insteadof = "gh:"

[status]
	branch = true
	showStash = true
	showUntrackedFiles = true

[diff]
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
